<h2>Welcome to the Restaurant App, {{username}}!</h2>

<!-- Form for input parameters -->
<div class="form-container">
    <form action="/api/restaurants" method="get" class="form">
        <label for="page">Page:</label>
        <input type="number" name="page" value="{{page}}" required>

        <label for="perPage">Per Page:</label>
        <input type="number" name="perPage" value="{{perPage}}" required>

        <label for="borough">Borough:</label>
        <input type="text" name="borough" value="{{borough}}">

        <div class="action-buttons">
            <button type="submit" class="edit-button">Submit</button>
            <a href="/logout" class="delete-button">Logout</a>
        </div>
    </form>
</div>