/* Add your styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

/* Add this CSS in your stylesheet */

.app-header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-navigation li {
  margin-right: 20px;
}

.main-navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.user-actions a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.user-actions a:hover {
  text-decoration: underline;
}

.form-container {
  margin-top: 1em;
}

.error {
  color: red;
}


.restaurant-container {
  width: 80%;
  margin: 20px auto;
}

.restaurant-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}
/* .restaurant-card {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
} */

.restaurant-header {
  text-align: center;
  margin-bottom: 15px;
}

.restaurant-details-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.restaurant-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-details-header h1 {
  color: #3498db;
  margin: 0;
}

.add-button {
  margin: 0 auto !important;
}

.edit-button,
.delete-button,
.go-back-button,
.view-button, .add-button {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.edit-button{
  background-color: #27ae60;
}

.delete-button, .add-button {
  background-color: #e74c3c;
}

.go-back-button, .view-button {
  background-color: #3498db;
}

.edit-button:hover,
.delete-button:hover,
.go-back-button:hover,
.view-button:hover, .add-button:hover {
  background-color: #333;
}

.restaurant-details-content {
  margin-top: 20px;
}

.restaurant-info {
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  width: 100px;
}

.grades {
  border-top: 2px solid #ddd;
  padding-top: 20px;
}

.grades-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grade-item {
  display: flex;
  margin-bottom: 10px;
}

.grade-label {
  font-weight: bold;
  width: 100px;
}

.grade-value {
  margin-left: 10px;
}

.reviews-section {
  margin-top: 20px;
}

.section-title {
  font-size: 1.5em;
  color: #333;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
}

.review-item {
  flex: 0 0 calc(33.33% - 20px);
  /* Three items in a row initially */
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .review-item {
    flex: 0 0 calc(50% - 20px);
    /* Two items in a row on smaller screens */
  }
}

.review-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.review-header {
  display: flex;
  align-items: center;
}

.review-label {
  font-weight: bold;
  margin-right: 5px;
  color: #333;
}

.review-value {
  color: #555;
}

.review-content {
  margin-top: 8px;
}

.score-label,
.date-label {
  color: #777;
  margin: 5px 0;
}


/* Style the scrollbar */
/* Firefox */
.restaurant-card {
    scrollbar-width: none;
    scrollbar-color: #25b7cb #ffffff;
}

/* Other browsers */
.restaurant-card::-webkit-scrollbar{
    width: 10px;
}

.restaurant-card::-webkit-scrollbar-track{
    background: #ffffff;
}

.restaurant-card::-webkit-scrollbar-thumb{
    background-color: #25b7cb;
    border-radius: 20px;
    border: 3px solid #FFFFFF;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.action-buttons > a, button {
  margin: auto;
  margin-left: 10px;
}

.show-restaurant {
  display: flex;
  justify-content: flex-start;
}

/* Style for the form */
form {
  margin-top: 20px;
}

label {
  margin-right: 5px;
}

input {
  margin-bottom: 10px;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Add this CSS in your stylesheet */

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.grade-item {
  margin-bottom: 15px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

/* Pagination CSS */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 4px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
}

/* Add this CSS in your stylesheet */

.app-footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-links li {
    margin-right: 15px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer-links a:hover {
    text-decoration: underline;
}
